# Основной входной файл со списком патентов
INPUT_FILE=input_file

# Папка для сохранения извлечённых патентов
OUTPUT_FOLDER=extracted_patents_folder

# PostgreSQL
DATABASE_URL=postgresql://user:password@db:5432/patents_db
# или отдельно:
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=patents_db
# DB_USER=postgres
# DB_PASSWORD=yourpassword